@model IEnumerable<TTTN_Travel.Models.Tour>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-xl-12">
            <div class="breadcrumb-holder">
                <h1 class="main-title float-left">Tours</h1>
                <p style="float:right">
                    <a asp-action="Create"><i class="fas fa-plus" aria-hidden="true"></i>Create New</a>
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- end row -->

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTable" class="table table-bordered table-hover display dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="dataTable_info">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tentuor)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Image)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Gia)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Quocgia)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Lichtrinh)
                                </th>

                                <th>Tác vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tentuor)
                                    </td>
                                    <td>
                                        <img style="width:200px;height:200px" src="~/images/@Html.DisplayFor(modelItem => item.Image)" />
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quocgia)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Lichtrinh)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Idtour" class="btn btn-primary btn-sm btn-block"><i class="far fa-edit"></i>Edit</a>
                                        <a asp-action="Delete" asp-route-id="@item.Idtour" class="btn btn-danger btn-sm btn-block mt-2"><i class="fas fa-trash"></i>Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- end table-responsive-->

            </div>
            <!-- end card-body-->

        </div>
        <!-- end card-->

    </div>

</div>
<!-- end row-->
<script>

        $(function () {

            $('#dataTable').paging({ limit: 5 });

        })

</script>