@model TTTN_Travel.Models.Tour
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_Page.cshtml";
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tentuor)
        </dt>
        <dd>
            <h2>@Html.DisplayFor(model => model.Tentuor)</h2>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            <img style="width:100% " src="~/images/@Html.DisplayFor(model => model.Image)" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ngaybd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ngaybd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ngaykt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ngaykt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd style="color:red;font-size:30px">
            @Html.DisplayFor(model => model.Gia) đ
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quocgia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quocgia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lichtrinh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lichtrinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Danhgia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Danhgia)<i class="fa fa-star"></i>
        </dd>
    </dl>
</div>

<section class="page-tour-detail">
    <div class="container">
        <div class="title-page-detail">
            <h1 class="tour-tilt-h1">
                <span>@Html.DisplayFor(model => model.Tentuor)</span>
            </h1>
            <div class="addtoany_shortcode"><div class="a2a_kit a2a_kit_size_18 addtoany_list" data-a2a-url="https://tourre.vn/combo/tour-ha-noi-ninh-binh-ha-long-sapa-gia-re/" data-a2a-title="Combo tour Hà Nội Ninh Bình Hạ Long Sapa 5 ngày 4 đêm trọn gói giá rẻ" style="line-height: 18px;"><a class="a2a_button_facebook" href="/#facebook" title="Facebook" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_facebook" style="background-color: rgb(24, 119, 242); width: 18px; line-height: 18px; height: 18px; background-size: 18px; border-radius: 3px;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M17.78 27.5V17.008h3.522l.527-4.09h-4.05v-2.61c0-1.182.33-1.99 2.023-1.99h2.166V4.66c-.375-.05-1.66-.16-3.155-.16-3.123 0-5.26 1.905-5.26 5.405v3.016h-3.53v4.09h3.53V27.5h4.223z"></path></svg></span><span class="a2a_label">Facebook</span></a><a class="a2a_button_twitter" href="/#twitter" title="Twitter" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_twitter" style="background-color: rgb(85, 172, 238); width: 18px; line-height: 18px; height: 18px; background-size: 18px; border-radius: 3px;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M28 8.557a9.913 9.913 0 0 1-2.828.775 4.93 4.93 0 0 0 2.166-2.725 9.738 9.738 0 0 1-3.13 1.194 4.92 4.92 0 0 0-3.593-1.55 4.924 4.924 0 0 0-4.794 6.049c-4.09-.21-7.72-2.17-10.15-5.15a4.942 4.942 0 0 0-.665 2.477c0 1.71.87 3.214 2.19 4.1a4.968 4.968 0 0 1-2.23-.616v.06c0 2.39 1.7 4.38 3.952 4.83-.414.115-.85.174-1.297.174-.318 0-.626-.03-.928-.086a4.935 4.935 0 0 0 4.6 3.42 9.893 9.893 0 0 1-6.114 2.107c-.398 0-.79-.023-1.175-.068a13.953 13.953 0 0 0 7.55 2.213c9.056 0 14.01-7.507 14.01-14.013 0-.213-.005-.426-.015-.637.96-.695 1.795-1.56 2.455-2.55z"></path></svg></span><span class="a2a_label">Twitter</span></a><a class="a2a_button_email" href="/#email" title="Email" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_email" style="background-color: rgb(1, 102, 255); width: 18px; line-height: 18px; height: 18px; background-size: 18px; border-radius: 3px;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M26 21.25v-9s-9.1 6.35-9.984 6.68C15.144 18.616 6 12.25 6 12.25v9c0 1.25.266 1.5 1.5 1.5h17c1.266 0 1.5-.22 1.5-1.5zm-.015-10.765c0-.91-.265-1.235-1.485-1.235h-17c-1.255 0-1.5.39-1.5 1.3l.015.14s9.035 6.22 10 6.56c1.02-.395 9.985-6.7 9.985-6.7l-.015-.065z"></path></svg></span><span class="a2a_label">Email</span></a><a class="a2a_button_pinterest" href="/#pinterest" title="Pinterest" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_pinterest" style="background-color: rgb(189, 8, 28); width: 18px; line-height: 18px; height: 18px; background-size: 18px; border-radius: 3px;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M16.539 4.5c-6.277 0-9.442 4.5-9.442 8.253 0 2.272.86 4.293 2.705 5.046.303.125.574.005.662-.33.061-.231.205-.816.27-1.06.088-.331.053-.447-.191-.736-.532-.627-.873-1.439-.873-2.591 0-3.338 2.498-6.327 6.505-6.327 3.548 0 5.497 2.168 5.497 5.062 0 3.81-1.686 7.025-4.188 7.025-1.382 0-2.416-1.142-2.085-2.545.397-1.674 1.166-3.48 1.166-4.689 0-1.081-.581-1.983-1.782-1.983-1.413 0-2.548 1.462-2.548 3.419 0 1.247.421 2.091.421 2.091l-1.699 7.199c-.505 2.137-.076 4.755-.039 5.019.021.158.223.196.314.077.13-.17 1.813-2.247 2.384-4.324.162-.587.929-3.631.929-3.631.46.876 1.801 1.646 3.227 1.646 4.247 0 7.128-3.871 7.128-9.053.003-3.918-3.317-7.568-8.361-7.568z"></path></svg></span><span class="a2a_label">Pinterest</span></a><a class="a2a_button_linkedin" href="/#linkedin" title="LinkedIn" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_linkedin" style="background-color: rgb(0, 123, 181); width: 18px; line-height: 18px; height: 18px; background-size: 18px; border-radius: 3px;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M6.227 12.61h4.19v13.48h-4.19V12.61zm2.095-6.7a2.43 2.43 0 0 1 0 4.86c-1.344 0-2.428-1.09-2.428-2.43s1.084-2.43 2.428-2.43m4.72 6.7h4.02v1.84h.058c.56-1.058 1.927-2.176 3.965-2.176 4.238 0 5.02 2.792 5.02 6.42v7.395h-4.183v-6.56c0-1.564-.03-3.574-2.178-3.574-2.18 0-2.514 1.7-2.514 3.46v6.668h-4.187V12.61z" fill="#FFF"></path></svg></span><span class="a2a_label">LinkedIn</span></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Ftourre.vn%2Fcombo%2Ftour-ha-noi-ninh-binh-ha-long-sapa-gia-re%2F&amp;title=Combo%20tour%20H%C3%A0%20N%E1%BB%99i%20Ninh%20B%C3%ACnh%20H%E1%BA%A1%20Long%20Sapa%205%20ng%C3%A0y%204%20%C4%91%C3%AAm%20tr%E1%BB%8Dn%20g%C3%B3i%20gi%C3%A1%20r%E1%BA%BB"><span class="a2a_svg a2a_s__default a2a_s_a2a" style="background-color: rgb(1, 102, 255); width: 18px; line-height: 18px; height: 18px; background-size: 18px; border-radius: 3px;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="#FFF"><path d="M14 7h4v18h-4z"></path><path d="M7 14h18v4H7z"></path></g></svg></span><span class="a2a_label a2a_localize" data-a2a-localize="inner,Share">Share</span></a></div></div>
        </div>
        <div class="box-mobli-oder">
            <div class="box-thong-tin-detail">
                <div class="col-md-9 col-md-left">
                    <div class="cruise-slider">
                        <style>
                            .fotorama1617867723724 .fotorama__nav--thumbs .fotorama__nav__frame {
                                padding: 3px;
                                height: 105px
                            }

                            .fotorama1617867723724 .fotorama__thumb-border {
                                height: 101px;
                                border-width: 2px;
                                margin-top: 3px
                            }
                        </style><div class="fotorama--hidden"></div><div class="fotorama fotorama1617867723724" data-width="100%" data-ratio="" data-max-width="100%" data-allowfullscreen="true" data-loop="true" data-thumbwidth="133" data-thumbheight="105" data-thumbmargin="3" data-auto="false" style="background-color: #fff; border-bottom: 1px solid #ddd;"><div class="fotorama__wrap fotorama__wrap--css3 fotorama__wrap--slide fotorama__wrap--toggle-arrows fotorama__wrap--no-controls" style="width: 100%; min-width: 0px; max-width: 100%;"><div class="fotorama__stage fotorama__pointer" style="width: 690px; height: 414px;"><div class="fotorama__fullscreen-icon" tabindex="0" role="button"></div><div class="fotorama__stage__shaft" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px); width: 690px; margin-left: 0px;"><div class="fotorama__stage__frame fotorama__loaded fotorama__loaded--img fotorama__active" style="left: 0px;"><img src="https://tourre.vn/wp-content/uploads/2020/11/tau-tham-vinh-ha-long.jpg" class="fotorama__img" style="width: 690px; height: 414px; left: 0px; top: 0px;"></div><div class="fotorama__stage__frame fotorama__loaded fotorama__loaded--img" style="left: -692px;"><img src="https://tourre.vn/wp-content/uploads/2020/11/titop.jpg" class="fotorama__img" style="width: 690px; height: 414px; left: 0px; top: 0px;"></div><div class="fotorama__stage__frame fotorama__loaded fotorama__loaded--img" style="left: 692px;"><img src="https://tourre.vn/wp-content/uploads/2020/12/dao-titop-ha-long.jpg" class="fotorama__img" style="width: 552.491px; height: 414px; left: 68.7544px; top: 0px;"></div></div><div class="fotorama__arr fotorama__arr--prev" tabindex="0" role="button"></div><div class="fotorama__arr fotorama__arr--next" tabindex="0" role="button"></div><div class="fotorama__video-close"></div></div><div class="fotorama__nav-wrap"><div class="fotorama__nav fotorama__nav--thumbs fotorama__shadows--right" style="width: 690px;"><div class="fotorama__nav__shaft fotorama__grab" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);"><div class="fotorama__thumb-border" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px); width: 129px;"></div><div class="fotorama__nav__frame fotorama__nav__frame--thumb fotorama__active" tabindex="0" role="button" style="width: 133px;"><div class="fotorama__thumb fotorama__loaded fotorama__loaded--img"><img src="https://tourre.vn/wp-content/uploads/2020/11/tau-tham-vinh-ha-long.jpg" class="fotorama__img" style="width: 175px; height: 105px; left: -21px; top: 0px;"></div></div><div class="fotorama__nav__frame fotorama__nav__frame--thumb" tabindex="0" role="button" style="width: 133px;"><div class="fotorama__thumb fotorama__loaded fotorama__loaded--img"><img src="https://tourre.vn/wp-content/uploads/2020/12/dao-titop-ha-long.jpg" class="fotorama__img" style="width: 140.125px; height: 105px; left: -3.56228px; top: 0px;"></div></div><div class="fotorama__nav__frame fotorama__nav__frame--thumb" tabindex="0" role="button" style="width: 133px;"><div class="fotorama__thumb fotorama__loaded fotorama__loaded--img"><img src="https://tourre.vn/wp-content/uploads/2020/12/nha-hang-alova-tau-ha-long.jpg" class="fotorama__img" style="width: 157.5px; height: 105px; left: -12.25px; top: 0px;"></div></div><div class="fotorama__nav__frame fotorama__nav__frame--thumb" tabindex="0" role="button" style="width: 133px;"><div class="fotorama__thumb fotorama__loaded fotorama__loaded--img"><img src="https://tourre.vn/wp-content/uploads/2020/12/du-thuyen-5-sao-ha-long-e1616040687228.jpg" class="fotorama__img" style="width: 229.592px; height: 105px; left: -48.2959px; top: 0px;"></div></div><div class="fotorama__nav__frame fotorama__nav__frame--thumb" tabindex="0" role="button" style="width: 133px;"><div class="fotorama__thumb fotorama__loaded fotorama__loaded--img"><img src="https://tourre.vn/wp-content/uploads/2020/12/cau-nhat-tan-song-hong-1.jpg" class="fotorama__img" style="width: 187.055px; height: 105px; left: -27.0273px; top: 0px;"></div></div><div class="fotorama__nav__frame fotorama__nav__frame--thumb" tabindex="0" role="button" style="width: 133px;"><div class="fotorama__thumb fotorama__loaded fotorama__loaded--img"><img src="https://tourre.vn/wp-content/uploads/2020/11/titop.jpg" class="fotorama__img" style="width: 175px; height: 105px; left: -21px; top: 0px;"></div></div></div></div></div></div></div>
                    </div>
                    <div class="thong-tin-chon-phong">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home1" aria-controls="home1" role="tab" data-toggle="tab">Lịch trình</a></li>
                            <li role="presentation"><a href="#home2" aria-controls="home2" role="tab" data-toggle="tab">Thông tin</a></li>
                            <li role="presentation"><a href="#home5" aria-controls="home5" role="tab" data-toggle="tab">Đánh giá</a></li>
                            <!-- 						    <li role="presentation"><a href="#home3" aria-controls="home3" role="tab" data-toggle="tab">Nhận xét</a></li> -->
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active content-p" id="home1">
                                <ul class="tour-highlight">
                                    <h2><strong><span style="font-size: 14pt; color: #000000;">Tour du lịch 5 ngày 4 đêm Hà Nội – chùa Bái Đính – Tràng An – Hạ Long – Sapa – Fansipan trọn gói giá rẻ</span></strong></h2>
                                    <p><span style="font-size: 10pt;">Combo tour Hà Nội Tràng An Hạ Long Sapa 5 ngày 4 đêm được thiết kế riêng cho khách hàng khi có lịch trình thăm quan Hà Nội cố định. Combo giúp khách hàng tiết kiệm thời gian và chi phí. Combo đã bao gồm hầu hết các dịch vụ như đưa đón sân bay, khách sạn và tour thăm quan. Điểm thăm quan nổi bật trong chương trình là Hà Nội, chùa Bái Đính, Tràng An, Hạ Long, Hàm Rồng, Fansipan. Bên cạnh đó quý khách cũng có thời gian tự do thăm quan phố cổ Hà Nội với những nét văn hóa ẩm thực thu hút. Chuyến thăm quan Hà Nội chưa bao giờ dễ dàng đến thế với combo Hà Nội 5 ngày 4 đêm.</span></p>
                                    <div id="attachment_2622" style="width: 760px" class="wp-caption alignnone"><img aria-describedby="caption-attachment-2622" loading="lazy" class="size-full wp-image-2622" src="https://tourre.vn/wp-content/uploads/2020/12/du-lich-sapa-thang-10-mua-san-may.jpg" alt="Du lịch Sapa tháng 10 mùa săn mây" width="750" height="415" srcset="https://tourre.vn/wp-content/uploads/2020/12/du-lich-sapa-thang-10-mua-san-may.jpg 750w, https://tourre.vn/wp-content/uploads/2020/12/du-lich-sapa-thang-10-mua-san-may-300x166.jpg 300w" sizes="(max-width: 750px) 100vw, 750px"><p id="caption-attachment-2622" class="wp-caption-text"><span style="font-size: 10pt;"><em>Ninh Bình – Hạ Long – Sapa là các điểm đến hấp dẫn nhất tại miền Bắc&nbsp;</em></span></p></div>
                                    <h3><strong><span style="font-size: 12pt;">Điểm nổi bật tour Hà Nội Ninh Bình Hạ Long Sapa 5 ngày 4 đêm</span></strong></h3>
                                    <ul>
                                        <li><span style="font-size: 10pt;"><em>Xe riêng đón tiễn sân bay </em></span></li>
                                        <li><span style="font-size: 10pt;"><em>Khách sạn tiêu chuẩn 3 sao vị trí tại trung tâm. Chất lượng dịch vụ tốt</em></span></li>
                                        <li><span style="font-size: 10pt;"><em>Lịch trình linh hoạt, thay đổi dễ dàng </em></span></li>
                                    </ul>
                                    <h2><strong><span style="font-size: 14pt;">Chương trình chi tiết tour Hà Nội Ninh Bình Hạ Long Sapa 5 ngày 4 đêm</span></strong></h2>
                                </ul>
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading1">
                                            <div class="h4 panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                                    Ngày 1: Đón sân bay Nội Bài – Hà Nội (Bữa ăn: không)
                                                </a>
                                            </div>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                            <div class="panel-body">
                                                <div style="line-height: 22px;">
                                                    <p><span style="font-size: 10pt;">Xe đón quý khách tại sân bay Nội Bài sau đó đưa quý khách về khách sạn tại phố cổ Hà Nội. Quý khách nhận phòng và tự do nghỉ ngơi thăm quan Hà Nội</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading2">
                                            <div class="h4 panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                                    Ngày 2: Hà Nội – chùa Bái Đính – Tràng An (Bữa ăn: Sáng, trưa)
                                                </a>
                                            </div>
                                        </div>
                                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                            <div class="panel-body">
                                                <div style="line-height: 22px;">
                                                    <p><span style="font-size: 10pt;">7:00 – 7:30:&nbsp; Xe và Hướng dẫn viên đón Quý khách tại khách sạn, sau đó khởi hành đi Ninh Bình</span></p>
                                                    <p><span style="font-size: 10pt;">10h00: Đoàn đến khuôn viên chùa Bái Đính, bắt đầu thăm quan và lễ phật tại đây.</span></p>
                                                    <p><span style="font-size: 10pt;">12h00: Quý khách nghỉ ngơi ăn trưa tại nhà hàng Tràng An Bungalow.</span></p>
                                                    <p><span style="font-size: 10pt;">13h30: Xe đưa Quý khách ra trung tâm của khu du lịch sinh thái Tràng An.</span></p>
                                                    <p><span style="font-size: 10pt;">15h30: Quý khách đạp xe ngắm cảnh, chụp ảnh tại Tràng An. Quý khách không có&nbsp; nhu cầu đạp xe có thể tự do nghỉ ngơi tại Tràng An bungalow</span></p>
                                                    <p><span style="font-size: 10pt;">17h15: Quý khách lên xe về lại Hà Nội</span></p>
                                                    <p><span style="font-size: 10pt;">19h30:&nbsp; Về đến Hà Nội, kết thúc chuyến thăm quan du lịch.</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading3">
                                            <div class="h4 panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                                    Ngày 3: Hà Nội – Tour Hạ Long 1 ngày (Bữa ăn: Sáng, trưa)
                                                </a>
                                            </div>
                                        </div>
                                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                            <div class="panel-body">
                                                <div style="line-height: 22px;">
                                                    <p><span style="font-size: 10pt;">08:45 – 9:20: Xe cùng HDV đón khách tại khách sạn/đại lý khởi hành đi thăm Vịnh Hạ Long theo đường cao tốc mới.</span></p>
                                                    <p><span style="font-size: 10pt;">12:00: Quý khách đến bến cảng Tuần Châu và làm thủ tục lên tàu thăm vịnh Hạ Long.</span></p>
                                                    <p><span style="font-size: 10pt;">12:15: Tàu thăm vịnh Hạ Long rời bến bắt đầu chuyến thăm quan du ngoạn Vịnh Hạ long (hành trình 6 tiếng, giống với hành trình trên du thuyền Hạ Long 2 ngày 1 đêm).</span></p>
                                                    <p><span style="font-size: 10pt;">12:30: Quý khách dùng bữa cơm trưa và ngắm nhìn những dãy núi và phong cảnh thơ mộng, một kỳ quan thiên nhiên giữa đất trời bao la.</span></p>
                                                    <p><span style="font-size: 10pt;">13:45: Quý khách thăm quan Hang Sửng Sốt.</span></p>
                                                    <p><span style="font-size: 10pt;">14:45: Tàu di chuyển đến Hang Luồn, du khách có thể chèo kayak/thuyền nan (quý khách không sử dụng dịch vụ này có thể ở lại trên tàu).</span></p>
                                                    <p><span style="font-size: 10pt;">15.30: Tàu sẽ đưa Quý khách đến với đảo Ti Tôp. Quý khách có thể tắm biển tại bãi tắm Ti Tôp với bãi cát trắng, hoặc treekking leo lên đỉnh núi Ti Tôp ngắm nhìn toàn cảnh Vịnh Hạ Long.</span></p>
                                                    <p><span style="font-size: 10pt;">16:30: Quay trở lại tàu/ du thuyền để khởi hành về lại cảng Tuần Châu.</span></p>
                                                    <p><span style="font-size: 10pt;">18:00: Tàu/ du thuyền cập bến chia tay thủy thủ đoàn và lên xe về trở Hà Nội qua đường cao tốc.</span></p>
                                                    <p><span style="font-size: 10pt;">20:30: Kết thúc tour, HDV chia tay quý khách tại khách sạn</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading4">
                                            <div class="h4 panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                                    Ngày 4: Hà Nội – Sapa – Hàm Rồng (Bữa ăn: Sáng, trưa, tối)
                                                </a>
                                            </div>
                                        </div>
                                        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                            <div class="panel-body">
                                                <div style="line-height: 22px;">
                                                    <p><span style="font-size: 10pt;">6h30 – 7h00: Xe đón Quý khách tại điểm hẹn trong Phố Cổ Hà Nội. Sau đó khởi hành đi Sa Pa bằng xe giường nằm chất lượng cao.</span></p>
                                                    <p><span style="font-size: 10pt;">9h00: Xe dừng chân dọc đường cao tốc Nội Bài – Lào Cai để quý khách nghỉ ngơi ăn sáng.</span></p>
                                                    <p><span style="font-size: 10pt;">12h30: Xe đến thị trấn Sa Pa nơi có rất nhiều dân tộc sinh sống như H’mong, Dao, Tày,… Hướng dẫn viên sẽ đưa Quý khách về khách sạn. Quý khách dùng bữa trưa và nghỉ ngơi tại khách sạn.</span></p>
                                                    <p><span style="font-size: 10pt;">14h30: HDV đưa quý khách chinh phục đỉnh núi Hàm Rồng , một nơi phòng cảnh hữu tình tại thung lũng nằm dưới chân đỉnh Phanxipang hùng vĩ.</span></p>
                                                    <p><span style="font-size: 10pt;">17h30: Quý khách quay về lại khách sạn nghỉ ngơi. </span></p>
                                                    <p><span style="font-size: 10pt;">19h00: Quý khách dùng bữa tối. Sau đó tự do khám phá thị trấn Sapa về đêm: Thăm nhà thờ đá Sapa, đi chợ ẩm thực Sapa và thưởng thức những món nướng đặc trưng của vùng đất này,… Ngủ đêm tại Sapa.</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading5">
                                            <div class="h4 panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                                    Ngày 5: Sapa – Fansipan - Hà Nội – Tiễn sân bay Nội Bài – Kết thúc (Bữa ăn: Sáng, trưa)
                                                </a>
                                            </div>
                                        </div>
                                        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                            <div class="panel-body">
                                                <div style="line-height: 22px;">
                                                    <p><span style="font-size: 10pt;">7h00: Quý khách dùng bữa sáng tại khách sạn. Làm thủ tục trả phòng và gửi đồ tại Quầy lễ tân.</span></p>
                                                    <p><span style="font-size: 10pt;">8h00: Sau bữa ăn sáng: Xe đón Quý khách khởi hành ra ga cáp treo Fansipan chinh phục nóc nhà Đông Dương</span></p>
                                                    <p><span style="font-size: 10pt;">11h30: Quý khách dùng bữa trưa buffet tại nhà hàng Hải Cảng Fansipan</span></p>
                                                    <p><span style="font-size: 10pt;"><em>(Áp dụng tới 31/12/2020; Sau thời gian trên sẽ ăn trưa setmenu tại nhà hàng).</em></span></p>
                                                    <p><span style="font-size: 10pt;">(Trường hợp Quý khách không muốn đi Fansipan mà muốn đi thăm quan bản Cát Cát: Phụ 90.000vnđ vé thăm quan Cát Cát , và sẽ ăn trưa setmenu tại nhà hàng)</span></p>
                                                    <p><span style="font-size: 10pt;">12h30-13h00: Xe đón Quý khách về lại khách sạn. Quý khách tự do mua sắm đặc sản địa phương về làm quà cho người thân.</span></p>
                                                    <p><span style="font-size: 10pt;">15h30-16h00: Quý Khách lên xe giường nằm khởi hành về lại Hà Nội. Xe trả quý khách tại sân bay Nội Bài để làm thủ tục bay. Kết thúc hành trình thăm quan.</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-col-50">
                                        <div class="col-50-css">
                                            <div class="title-h3 title-size-3">
                                                <i class="fa fa-check-square-o"></i> <b>Giá bao gồm</b>
                                                <div class="content-col">
                                                    <ul>
                                                        <li><span style="font-size: 10pt;"><em>Xe đón sân bay và xe đưa đón tham quan theo chương trình tour</em></span></li>
                                                        <li><span style="font-size: 10pt;"><em>Hướng dẫn viên nói tiếng Việt, tiếng Anh phục vụ theo chương trình thăm quan</em></span></li>
                                                        <li><span style="font-size: 10pt;"><em>Bữa ăn theo chương trình: 5 bữa chính và 4 bữa sáng tại khách sạn (Bún, phở, hoặc buffet tùy theo tình hình khách sạn vào thời điểm khởi hành)</em></span></li>
                                                        <li><span style="font-size: 10pt;"><em>Vé thăm quan các điểm theo chương trình</em></span></li>
                                                        <li><span style="font-size: 10pt;"><em>Nước uống miễn phí trên xe ô tô 2 chai/khách/ngày</em></span></li>
                                                        <li><span style="font-size: 10pt;"><em>Bảo hiểm hành khách trên xe theo quy định</em></span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-50-css">
                                            <div class="title-h3 title-size-3">
                                                <i class="fa fa-window-close-o"></i> <b>Giá không bao gồm</b>
                                                <div class="content-col">
                                                    <ul>
                                                        <li><span style="font-size: 10pt;"><em>Đồ uống trong các bữa ăn</em></span></li>
                                                        <li><span style="font-size: 10pt;"><em>Các chi phí cá nhân khác và chi phí thăm quan không được đề cập tới trong chương trình</em></span></li>
                                                        <li><span style="font-size: 10pt;"><em>Tip cho hướng dẫn viên và Lái xe</em></span></li>
                                                        <li><span style="font-size: 10pt;"><em>Vé máy bay/ vé tàu hỏa</em></span></li>
                                                        <li><span style="font-size: 10pt;"><em>Thuế VAT 10% (Nếu Quý khách yêu cầu xuất hóa đơn Vat vui lòng thanh toán thêm 10% giá trị tour).</em></span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chu-y">
                                        <p><span style="font-size: 12pt;"><strong><em>Chính sách trẻ em:</em></strong></span></p>
                                        <ul>
                                            <li><span style="font-size: 10pt;"><em>Trẻ em dưới 5 tuổi: Được miễn phí, ngủ chung với bố mẹ. Cha mẹ tự chi trả những chi phí phát sinh liên quan tới trẻ, trẻ miễn phí không chiếm chỗ trên xe, 2 người lớn chỉ được kèm 1 trẻ em miễn phí, từ trẻ thứ 2 tính 75% giá tour.</em></span></li>
                                            <li><span style="font-size: 10pt;"><em>Trẻ em từ 5 – dưới 9 tuổi: Tính 75% giá vé người lớn; ăn suất riêng và ngủ chung với bố mẹ và có ghế riêng trên xe.</em></span></li>
                                            <li><span style="font-size: 10pt;"><em>Trẻ em từ 9 tuổi trở lên: Tính như người lớn </em></span></li>
                                        </ul>
                                        <p><span style="font-size: 12pt;"><strong><em>Chính sách phụ thu:</em></strong></span></p>
                                        <ul>
                                            <li><span style="font-size: 10pt;"><em>Phụ thu khách nước ngoài: Không phụ thu</em></span></li>
                                            <li><span style="font-size: 10pt;"><em>Phụ thu phòng đơn: 1.000.000vnđ</em></span></li>
                                            <li><span style="font-size: 10pt;"><em>Phụ thu đón sân bay với nhóm chỉ có 1 khách: 150.000vnđ</em></span></li>
                                            <li><span style="font-size: 10pt;"><em>Phụ thu các ngày lễ, Tết theo quy định: 400.000vnđ </em></span></li>
                                        </ul>
                                        <p><span style="font-size: 12pt;"><strong><em>Lưu ý:</em></strong></span></p>
                                        <ul>
                                            <li><span style="font-size: 10pt;"><em>Combo không được hoàn hủy</em></span></li>
                                            <li><span style="font-size: 10pt;"><em>Giá combo áp dụng cho số lượng khách tối thiểu là 02. Phụ phí phòng đơn được áp dụng cho khách có nhu cầu ở phòng riêng.</em></span></li>
                                            <li><span style="font-size: 10pt;"><em>Combo có thể thay đổi linh hoạt theo kế hoạch của quý khách </em></span></li>
                                            <li><span style="font-size: 10pt;"><em>Đối với những khách có chuyến bay tối nên đặt các chuyến bay sau 22h30: Xe về đến sân bay Nội Bài lúc 20h30-21h00, dừng cho Quý khách vào sân bay tự túc làm thủ tục bay.</em></span></li>
                                            <li><span style="font-size: 10pt;"><em>Đối với những khách đã đặt chuyến bay về khoảng 21h00-22h30: Công ty sẽ bố trí cho Quý khách lên xe về lúc 13h30 – Và về tới sân bay Nội Bài khoảng 19h00-19h30. </em></span></li>
                                            <li><span style="font-size: 10pt;"><em>(Quý khách không nên đặt chuyến bay về trước 21h00, nếu Quý khách đặt chuyến bay về trước 21h00 chúng tôi sẽ không thể bố trí giờ về hợp lý để chuyến đi của Quý khách được trọn vẹn)</em></span></li>
                                            <li><span style="font-size: 10pt;"><em>Đối với những khách về lại Hà Nội: 21h30 về tới Phố Cổ Hà Nội. </em></span></li>
                                            <li><span style="font-size: 10pt;"><em>(Lịch trình thăm quan có thể thay đổi nhưng vẫn đảm bảo các điểm thăm quan có trong chương trình)</em></span></li>
                                            <li><em><span style="font-size: 10pt;">Khách sạn trong combo có tiêu chuẩn 3 sao. Quý khách có thể nâng hạng phòng hoặc nâng hạng khách sạn lên tiêu chuẩn 4 sao hoặc 5 sao.</span> </em></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box-mobile-tab">
                                    <div class="baogia">
                                        <div class="h3">Bảng báo giá dịch vụ</div>
                                        <p>Lựa chọn dịch vụ bạn muốn sử dụng.</p>
                                    </div>
                                    <div class="box-one">

                                        <div class="col-md-6 dv-one">
                                            Loại dịch vụ
                                        </div>
                                        <div class="col-md-2 dv-one">
                                            Số lượng
                                        </div>
                                        <div class="col-md-2 dv-one">
                                            Chi phí
                                        </div>
                                        <div class="col-md-2 dv-one">
                                            Tổng chi phí
                                        </div>
                                    </div>

                                    <div class="box-two">
                                        <b>Tour mặc định</b><br>
                                        <div class="col-md-6 dv-two">
                                            <p>
                                                <input class="abc" id="myCheckbox" name="name" type="checkbox" value="3690000" checked="" disabled=""> @Html.DisplayFor(model => model.Tentuor)
                                            </p>
                                        </div>
                                        <div class="col-md-2 dv-two">
                                            <p class="dv-text"> 1 người </p>
                                        </div>
                                        <div class="col-md-2 dv-two two-1-mb">
                                            <p class="dv-text">
                                                3.690.000đ
                                            </p>
                                        </div>
                                        <div class="col-md-2 dv-two">
                                            <p class="dv-text active-price"> 3.690.000đ </p>
                                        </div>
                                    </div>

                                    <div class="box-two">
                                        <b>Dịch vụ tùy chọn</b><br>
                                        <div class="col-md-6 dv-two">
                                            <p>
                                                <input class="checkbox" id="1" type="checkbox" data-price="1200000"> Phụ phí phòng đơn
                                            </p>
                                        </div>
                                        <div class="col-md-2 dv-two">
                                            <p class="dv-text">   người </p>
                                        </div>
                                        <div class="col-md-2 dv-two two-2-mb">
                                            <p class="dv-text"> 1.200.000đ </p>
                                        </div>
                                        <div class="col-md-2 dv-two">
                                            <p id="tong-tien1" class="dv-text">  1.200.000đ </p>
                                        </div>
                                    </div>

                                    <div class="box-two" style="display: none">
                                        <b>Dịch vụ thêm</b><br>
                                        <div class="col-md-6 dv-two">
                                            <p>
                                                <input class="checkbox dv-them" id="4" type="checkbox" data-price="500000"> Luxury Limousine Bus Round Trip HN-HL-HN
                                            </p>

                                        </div>
                                        <div class="col-md-2 dv-two">
                                            <div class="form-group">
                                                <input class="checkbox" id="number" type="number" value="1" readonly="">
                                            </div>
                                        </div>
                                        <div class="col-md-2 dv-two">
                                            <p class="dv-text"> <span class="price3">0</span> </p>

                                        </div>
                                        <div class="col-md-2 dv-two">
                                            <p id="them-moi1" class="dv-text"> 500.000đ </p>

                                        </div>
                                    </div>

                                    <div class="total-price">
                                        <b>Tổng chi phí</b>: <span class="price2">3.690.000đ</span>
                                    </div>

                                </div>
                                <div class="box-wys-more">
                                    <div class="content-add-more">
                                        <p>
                                        </p><p><span style="font-size: 10pt;"><strong>THAM KHẢO CÁC TOUR LIÊN QUAN:</strong></span></p>
                                            <ul>
                                                @foreach (var i in ViewBag.listTour)
                                                {
                                                <li><span style="font-size: 10pt;"><a href="/Tour/Details?Id=@i.Idtour">@i.Tentuor</a></span></li>
                                                }
                                            </ul>
                                        <p></p>
                                    </div>
                                </div>

                            </div>
                            <div role="tabpanel" class="tab-pane content-p" id="home2">
                                <div class="content hotel-detail-desc padding-top-0">
                                    <h2><strong><span style="font-size: 14pt;">Lịch trình chi tiết combo tour Hà Nội Ninh Bình Hạ Long Sapa 5 ngày 4 đêm:</span></strong></h2>
                                    <p><span style="font-size: 10pt;">Ngày 1 xe đón quý khách tại sân bay Nội Bài. Quý khách chỉ cần cung cấp thông tin chuyến bay, lái xe sẽ sẵn sàng đợi quý khách tại sân bay sau đó đưa quý khách về khách sạn. Xe vận chuyển của Tourre.vn được lựa chọn là xe đời mới rộng rãi sạch sẽ, lái xe tận tình chuyên nghiệp. Tùy vào số lượng khách hàng mà Tourre.vn sẽ xếp xe phù hợp:</span></p>
                                    <ul>
                                        <li><em><span style="font-size: 10pt;">Nhóm 1 – 4 khách: Xe 4 chỗ</span></em></li>
                                        <li><em><span style="font-size: 10pt;">Nhóm 5 – 6 khách: Xe 7 chỗ</span></em></li>
                                        <li><em><span style="font-size: 10pt;">Nhóm7 – 11 khách: Xe 16 chỗ</span></em></li>
                                    </ul>
                                    <div id="attachment_2421" style="width: 760px" class="wp-caption alignnone"><img aria-describedby="caption-attachment-2421" loading="lazy" class="tour Hà Nội Ninh Bình Hạ Long Sapa wp-image-2421 size-full" title="tour Hà Nội Ninh Bình Hạ Long Sapa" src="https://tourre.vn/wp-content/uploads/2020/12/xe-don-san-bay.jpg" alt="Xe du lịch đi chùa Bái Đính Ninh Bình" width="750" height="542" srcset="https://tourre.vn/wp-content/uploads/2020/12/xe-don-san-bay.jpg 750w, https://tourre.vn/wp-content/uploads/2020/12/xe-don-san-bay-300x217.jpg 300w" sizes="(max-width: 750px) 100vw, 750px"><p id="caption-attachment-2421" class="wp-caption-text"><span style="font-size: 10pt;"><em>Lái xe luôn sẵn sàng đón quý khách tại sân bay</em></span></p></div>
                                    <p><span style="font-size: 10pt;">Xe đưa quý khách tới khách sạn trong phố cổ Hà Nội. Các khách sạn được lựa chọn đều có vị trí tại trung tâm phố cổ thuận tiện cho quý khách đi thăm quan, mua sắm hay ăn uống. Khách sạn tiêu chuẩn sạch sẽ và được trang bị đầy đủ các thiết bị. Đội ngũ nhân viên khách sạn nhiệt tình chu đáo luôn sẵn sàng hỗ trợ quý khách.</span></p>
                                    <p><span style="font-size: 10pt;"><strong><em>Lưu ý:</em></strong><em> Thời gian nhận phòng là 14.00. Thời gian trả phòng là 12.00. Quý khách có nhu cầu lấy phòng sớm, trả phòng muộn vui lòng liên hệ nhân viên Tourre.vn để được hỗ trợ </em></span></p>
                                    <p><span style="font-size: 10pt;">Sau khi nhận phòng quý khách nghỉ ngơi tự do thăm quan Hà Nội.</span></p>
                                    <div id="attachment_2826" style="width: 760px" class="wp-caption alignnone"><img aria-describedby="caption-attachment-2826" loading="lazy" class="size-full wp-image-2826" src="https://tourre.vn/wp-content/uploads/2020/12/KS-3-sao-ha-noi.jpg" alt="" width="750" height="500" srcset="https://tourre.vn/wp-content/uploads/2020/12/KS-3-sao-ha-noi.jpg 750w, https://tourre.vn/wp-content/uploads/2020/12/KS-3-sao-ha-noi-300x200.jpg 300w" sizes="(max-width: 750px) 100vw, 750px"><p id="caption-attachment-2826" class="wp-caption-text"><em><span style="font-size: 10pt;">Khách sạn tiêu chuẩn 3 sao có vị trí tại trung tâm rất thuận tiện</span></em></p></div>
                                    <p><span style="font-size: 10pt;">Ngày 2 Hành trình xuất phát từ Hà Nội lúc 7.45 sáng. Xe di chuyển khoảng 2 tiếng từ Hà Nội tới Ninh Bình. Thời gian trên xe là lúc quý khách có thể làm quen với những vị khách cùng đoàn. Đây cũng là lúc hướng dẫn viên công ty sẽ giới thiệu và hướng dẫn cụ thể về lịch trình và những điểm cần lưu ý trong chương trình. Chương trình đưa quý khách tớ thăm quan những địa điểm hấp dẫn nhất tại Ninh Bình</span></p>
                                    <div id="attachment_2827" style="width: 760px" class="wp-caption alignnone"><img aria-describedby="caption-attachment-2827" loading="lazy" class="size-full wp-image-2827" src="https://tourre.vn/wp-content/uploads/2020/12/xe-29-cho-don-khach.jpg" alt="" width="750" height="469" srcset="https://tourre.vn/wp-content/uploads/2020/12/xe-29-cho-don-khach.jpg 750w, https://tourre.vn/wp-content/uploads/2020/12/xe-29-cho-don-khach-300x188.jpg 300w" sizes="(max-width: 750px) 100vw, 750px"><p id="caption-attachment-2827" class="wp-caption-text"><span style="font-size: 10pt;"><em>Xe đời mới đón quý khách tại điểm hẹn</em></span></p></div>
                                    <p><span style="font-size: 10pt;">Chùa Bái Đính: được xem là quần thể chùa lớn nhất Việt Nam bao gồm một khu chùa cổ và một khu chùa mới. Khu chùa mới được xây dựng từ năm 2003, chùa Bái Đính mới được xây trên núi giữa những thung lũng mênh mông thẳng cánh cò bay có hồ nước rộng và nhiều núi đá xen kẽ nhau, theo lối kiến ​​trúc mới hoàng tráng đồ sộ đậm nét văn hóa truyền thống trải qua hơn 10 năm xây dựng được hoàn thành vào năm 2015 và đã xác lập rất nhiều kỷ lục trong nước cũng như trên toàn Châu Á vì vậy nơi đây đã sớm trở thành điểm đến của tâm linh thu hút đông đảo du khách gần xa mỗi dịp tết đến xuân về.</span></p>
                                    <div id="attachment_1125" style="width: 760px" class="wp-caption alignnone"><img aria-describedby="caption-attachment-1125" loading="lazy" class="size-full wp-image-1125" src="https://tourre.vn/wp-content/uploads/2020/11/toan-canh-chua-bai-dinh.jpg" alt="Toàn cảnh chùa Bái Đính Ninh Bình" width="750" height="450" srcset="https://tourre.vn/wp-content/uploads/2020/11/toan-canh-chua-bai-dinh.jpg 750w, https://tourre.vn/wp-content/uploads/2020/11/toan-canh-chua-bai-dinh-300x180.jpg 300w" sizes="(max-width: 750px) 100vw, 750px"><p id="caption-attachment-1125" class="wp-caption-text"><span style="font-size: 10pt;"><em>Toàn cảnh chùa Bái Đính Ninh Bình</em></span></p></div>
                                    <p><span style="font-size: 10pt;">Bữa trưa được phục vụ tại nhà hàng địa phương với những món đặc sản của Ninh Bình như thịt dê, cơm cháy.</span></p>
                                    <p><span style="font-size: 10pt;">Tràng An: Quần thể danh thắng Tràng An thuộc địa phận tỉnh Ninh Bình là quần thể danh thắng kép được UNESCO công nhận là di sản thế giới từ năm 2014. Tràng An được coi như là một trong những vùng có cảnh quan núi đá vôi đẹp nhất thế giới. Sự phong phú đa dạng về địa chất, thảm thực vật … mang lại cho Tràng An một vẻ đẹp sống động quyến rũ.</span></p>
                                    <div id="attachment_1276" style="width: 760px" class="wp-caption alignnone"><img aria-describedby="caption-attachment-1276" loading="lazy" class="tour Hà Nội Ninh Bình Hạ Long Sapa wp-image-1276 size-full" title="tour Hà Nội Ninh Bình Hạ Long Sapa" src="https://tourre.vn/wp-content/uploads/2020/11/cheo-thuyen-trang-an.jpg" alt="Thuyền du lịch Tràng An" width="750" height="450" srcset="https://tourre.vn/wp-content/uploads/2020/11/cheo-thuyen-trang-an.jpg 750w, https://tourre.vn/wp-content/uploads/2020/11/cheo-thuyen-trang-an-300x180.jpg 300w" sizes="(max-width: 750px) 100vw, 750px"><p id="caption-attachment-1276" class="wp-caption-text"><span style="font-size: 10pt;"><em>Thuyền thăm quan Tràng An Ninh Bình</em></span></p></div>
                                    <p><span style="font-size: 10pt;">Xe đạp: Quý khách có thời gian rảnh đừng bỏ lỡ cơ hội đạp xe thăm quan khu vực Ninh Bình. Dạo quanh những xóm làng đơn sơ, đạp quanh những con đường sỏi đá, ngắm nhìn núi non trùng điệp là điều không thể bỏ qua khi tới thăm&nbsp; Ninh Bình. Hướng dẫn viên của chúng tôi luôn sẵn sàng hướng dẫn bạn bất kỳ lúc nào.</span></p>
                                    <div id="attachment_1278" style="width: 760px" class="wp-caption alignnone"><img aria-describedby="caption-attachment-1278" loading="lazy" class="size-full wp-image-1278" src="https://tourre.vn/wp-content/uploads/2020/11/dap-xe-ninh-binh.jpg" alt="Đạp xe tại Ninh Bình - Trải nghiệm không nên bỏ lỡ" width="750" height="450" srcset="https://tourre.vn/wp-content/uploads/2020/11/dap-xe-ninh-binh.jpg 750w, https://tourre.vn/wp-content/uploads/2020/11/dap-xe-ninh-binh-300x180.jpg 300w" sizes="(max-width: 750px) 100vw, 750px"><p id="caption-attachment-1278" class="wp-caption-text"><span style="font-size: 10pt;"><em>Đạp xe tại Ninh Bình – Trải nghiệm không nên bỏ lỡ</em></span></p></div>
                                    <p><span style="font-size: 10pt;">Ngày 3 là chương trình thăm quan vịnh Hạ Long trên du thuyền VIP. Xe và hướng dẫn viên đón quý khách tại khách sạn sau đó di chuyển tới Hạ Long. &nbsp;Xe ô tô đưa đón quý khách từ Hà Nội tới Hạ Long là xe du lịch đời mới chất lượng cao. Hướng dẫn viên và lái xe luôn sẵn sàng hỗ trợ quý khách bất kỳ lúc nào.</span></p>
                                    <p><span style="font-size: 10pt;">Tàu thăm vịnh Hạ Long là tàu thép có thiết kế hiện đại trẻ trung với sức chứa lớn và không gian rộng rãi. Trên tàu có nhiều không gian riêng để quý khách thư giãn ngắm cảnh. Lịch trình thăm quan 6 tiếng trên vịnh giúp quý khách ghé thăm những địa điểm hấp dẫn nhất của vịnh Hạ Long</span></p>
                                    <div id="attachment_1050" style="width: 760px" class="wp-caption alignnone"><img aria-describedby="caption-attachment-1050" loading="lazy" class="tour Hà Nội Ninh Bình Hạ Long Sapa wp-image-1050 size-full" title="tour Hà Nội Ninh Bình Hạ Long Sapa" src="https://tourre.vn/wp-content/uploads/2020/11/du-thuyen-tham-vinh-ha-long.jpg" alt="Tour Hạ Long 1 ngày tàu thăm vịnh" width="750" height="450" srcset="https://tourre.vn/wp-content/uploads/2020/11/du-thuyen-tham-vinh-ha-long.jpg 750w, https://tourre.vn/wp-content/uploads/2020/11/du-thuyen-tham-vinh-ha-long-300x180.jpg 300w" sizes="(max-width: 750px) 100vw, 750px"><p id="caption-attachment-1050" class="wp-caption-text"><span style="font-size: 10pt;">Tàu ghép du lịch Hạ Long trong ngày</span></p></div>
                                    <p><span style="font-size: 10pt;"><strong>Đảo Titop</strong> mang tên người anh hùng vũ trụ Gherman Titov. Đảo được chủ tịch Hồ Chí Minh đặt tên. Bạn có thể thỏa thích bơi lội trên bãi biển hoặc thử thách bản thân với hoạt động leo núi. Đỉnh Titov 400 bậc sẽ khá hiểm trở nhưng thành quả đạt được khi leo lên đỉnh chắc chắn không làm bạn thất vọng</span></p>
                                    <div id="attachment_1077" style="width: 760px" class="wp-caption alignnone"><img aria-describedby="caption-attachment-1077" loading="lazy" class="size-full wp-image-1077" src="https://tourre.vn/wp-content/uploads/2020/11/titop.jpg" alt="Đảo Ti Tốp Hạ Long" width="750" height="450" srcset="https://tourre.vn/wp-content/uploads/2020/11/titop.jpg 750w, https://tourre.vn/wp-content/uploads/2020/11/titop-300x180.jpg 300w" sizes="(max-width: 750px) 100vw, 750px"><p id="caption-attachment-1077" class="wp-caption-text"><span style="font-size: 10pt;"><em>Đảo Ti Tốp Hạ Long</em></span></p></div>
                                    <p><span style="font-size: 10pt;"><strong>Chèo kayak ở Hang Luồn:</strong> Một hoạt động vô cùng thú vị khi trải nghiệm du thuyền đó chính là chèo kayak. Tự mình chèo kayak quanh các hòn núi, luồn lách vào trong hang là điều tuyệt vời mà bạn không nên bỏ lỡ. Ngoài ra trên thuyền còn có dịch vụ ngồi thuyền nan thăm hang dành cho những du khách không muốn tự mình chèo thuyền. Nếu may mắn bạn có thể thấy những bầy khỉ đang tự do leo trèo trên vách núi.</span></p>
                                    <div id="attachment_1060" style="width: 760px" class="wp-caption alignnone"><img aria-describedby="caption-attachment-1060" loading="lazy" class="tour Hà Nội Ninh Bình Hạ Long Sapa wp-image-1060 size-full" title="tour Hà Nội Ninh Bình Hạ Long Sapa" src="https://tourre.vn/wp-content/uploads/2020/11/cheo-kayak-vinh-ha-long.jpg" alt="Chèo Kayak tại Hạ Long" width="750" height="450" srcset="https://tourre.vn/wp-content/uploads/2020/11/cheo-kayak-vinh-ha-long.jpg 750w, https://tourre.vn/wp-content/uploads/2020/11/cheo-kayak-vinh-ha-long-300x180.jpg 300w" sizes="(max-width: 750px) 100vw, 750px"><p id="caption-attachment-1060" class="wp-caption-text"><span style="font-size: 10pt;"><em>Chèo Kayak tại Hạ Long – trải nghiệm tuyệt vời</em></span></p></div>
                                    <p><span style="font-size: 10pt;"><strong>Hang Sửng Sốt</strong> là hang động lớn nhất tại vịnh Hạ Long và được chia làm 3 ngăn. Quý khách được đi từ bất ngờ này tới bất ngờ khác khi lần lượt thăm quan từng ngăn trong hang. Những măng đá, nhũ đã với nhiều hình thù đặc sắc chắc chắn sẽ khiến bạn ấn tượng. Ngoài ra khung cảnh từ trên đỉnh hang nhìn xuống cũng rất đẹp.</span></p>
                                    <div id="attachment_1063" style="width: 760px" class="wp-caption alignnone"><img aria-describedby="caption-attachment-1063" loading="lazy" class="size-full wp-image-1063" src="https://tourre.vn/wp-content/uploads/2020/11/hang-sungsot.jpg" alt="Hang Sửng Sốt - Hang động lớn nhất tại vịnh Hạ Long" width="750" height="450" srcset="https://tourre.vn/wp-content/uploads/2020/11/hang-sungsot.jpg 750w, https://tourre.vn/wp-content/uploads/2020/11/hang-sungsot-300x180.jpg 300w" sizes="(max-width: 750px) 100vw, 750px"><p id="caption-attachment-1063" class="wp-caption-text"><span style="font-size: 10pt;"><em>Hang Sửng Sốt – Hang động lớn nhất tại vịnh Hạ Long</em></span></p></div>
                                    <p><span style="font-size: 10pt;">Ngày 4 + 5 quý khách có chuyến thăm quan đầu tiên tới Sapa. xe bắt đầu xuất phát từ Hà Nội lúc 7.00 giờ sáng. Quý khách vui lòng có mặt tại điểm hẹn trước 7.00 để kịp làm các thủ tục lên xe để khởi hành. Xe ô tô đưa đón quý khách từ Hà Nội tới Sapa là xe giường nằm cao cấp. Xe chuyên phục vụ khách du lịch nên dịch vụ của nhà xe cũng tốt hơn các loại xe khách khác. Trên xe có phục vụ nước uống, wifi. Điểm đón khách cũng ở vị trí thuận tiện với các khách sạn trong phố cổ Hà Nội. Trên xe có phụ xe luôn sẵn sáng giúp đỡ quý khách</span></p>
                                    <p><span style="font-size: 10pt;">Thời gian di chuyển tử Hà Nội đến Sapa khoảng 5 tiếng rưỡi. Xe sẽ dừng ở những điểm nghỉ chân dọc đường để quý khách nghỉ ngơi.</span></p>
                                    <p><span style="font-size: 10pt;">Lịch trình xe Hà Nội – Sapa – Hà Nội cố định khởi hành từ Hà Nội lúc 7.00 sáng và từ Sapa về Hà Nội lúc 15.30. Tuy nhiên Tourre.vn có thể hỗ trợ quý khách thay đổi giờ xe chạy phù hợp với nhu cầu.</span></p>
                                    <p><span style="font-size: 10pt;"><strong><em>Giờ khởi hành:</em></strong></span></p>
                                    <ul>
                                        <li><span style="font-size: 10pt;"><em>Hà Nội – Sapa : 07h00, 13h30, 21h30</em></span></li>
                                        <li><span style="font-size: 10pt;"><em>Sapa – Hà Nội : 08h00, 13h30, 16h00, 21h30</em></span></li>
                                    </ul>
                                    <div id="attachment_2428" style="width: 760px" class="wp-caption alignnone"><img aria-describedby="caption-attachment-2428" loading="lazy" class="tour Hà Nội Ninh Bình Hạ Long Sapa wp-image-2428 size-full" title="tour Hà Nội Ninh Bình Hạ Long Sapa" src="https://tourre.vn/wp-content/uploads/2020/12/xe-giuong-nam-sapa.png" alt="" width="750" height="444" srcset="https://tourre.vn/wp-content/uploads/2020/12/xe-giuong-nam-sapa.png 750w, https://tourre.vn/wp-content/uploads/2020/12/xe-giuong-nam-sapa-300x178.png 300w" sizes="(max-width: 750px) 100vw, 750px"><p id="caption-attachment-2428" class="wp-caption-text"><span style="font-size: 10pt;"><em>Quý khách di chuyển tới Sapa bằng xe giường nằm cao cấp</em></span></p></div>
                                    <p><span style="font-size: 10pt;">Tới Sapa nhân viên của Tourre sẽ đón quý khách và giới thiệu qua về lịch trình tour. Quý khách dùng bữa trưa tại nhà hàng sau đó quý khách nhận phòng nghỉ ngơi. Khách sạn tại Sapa có vị trí tại trung tâm thuận tiện đi lại. Tất cả các khách sạn được lựa chọn kỹ càng với phòng ốc sạch sẽ đầy đủ các tiện nghi như wifi, điều hòa nhiệt độ, TV …</span></p>
                                    <p><span style="font-size: 10pt;">Hướng dẫn viên sẽ có mặt tại khách sạn và đón quý khách đi thăm các điểm du lịch trong chương trình. Điểm đặc biệt là phần lớn các hướng dấn viên đều là người dân tộc thiểu số như người Hmong, Dáy … Điều này không chỉ khiến các thông tin có tính thực tế cao mà còn là 1 trải nghiệm thú vị không dễ có với mỗi du khách.</span></p>
                                    <div id="attachment_1322" style="width: 760px" class="wp-caption alignnone"><img aria-describedby="caption-attachment-1322" loading="lazy" class="tour Hà Nội Ninh Bình Hạ Long Sapa wp-image-1322 size-full" title="tour Hà Nội Ninh Bình Hạ Long Sapa" src="https://tourre.vn/wp-content/uploads/2020/11/huong-dan-vien-ban-dia-sapa.jpg" alt="Hướng dẫn viên tại Sapa đa phần là người dân tộc" width="750" height="450" srcset="https://tourre.vn/wp-content/uploads/2020/11/huong-dan-vien-ban-dia-sapa.jpg 750w, https://tourre.vn/wp-content/uploads/2020/11/huong-dan-vien-ban-dia-sapa-300x180.jpg 300w" sizes="(max-width: 750px) 100vw, 750px"><p id="caption-attachment-1322" class="wp-caption-text"><span style="font-size: 10pt;"><em>Hướng dẫn viên tại Sapa đa phần là người dân tộc</em></span></p></div>
                                    <p><span style="font-size: 10pt;"><strong>Các điểm thăm quan trong chương trình tại Sapa:</strong></span></p>
                                    <p><span style="font-size: 10pt;"><strong>Núi Hàm Rồng: </strong>Nằm trong dãy Hoàng Liên Sơn, sát trung tâm thị trấn Sapa, Núi Hàm Rồng (nghĩa là “hàm của rồng”) là một ngọn núi nằm trong dãy Hoàng Liên Sơn. Núi có độ cao vừa phải, cảnh sắc thiên nhiên hoang sơ, thơ mộng là một trong những địa điểm hấp dẫn nhất Sapa. Hàm Rồng mát mẻ quanh năm, các loài cây cối bốn mùa khoe sắc, đặc biệt là phong lan. Mùa xuân hoa đào nở rộ cũng là thời điểm tuyệt vời để ghé thăm Hàm Rồng. Có thể nói sự đa dạng của các loài hoa cũng chính là điểm thu hút của Hàm Rồng.</span></p>
                                    <p><span style="font-size: 10pt;">Đường đi lên Hàm Rồng không quá khó nhưng cũng đòi hỏi bạn có sự dẻo dai. Nếu may mắn Đến với núi Hàm Rồng vào ngày thời tiết đẹp bạn có thể ngắm nhìn đỉnh núi Fanxipan từ sa hoặc quan sát toàn bộ thị trấn Sapa từ trên cao.</span></p>
                                    <p><span style="font-size: 10pt;">Tại Hàm Rồng bạn còn có thể thưởng thức các buổi diễn văn nghệ dân tộc được tổ chức hằng ngày tại khu trung tâm. Du khách cũng có thể tham quan khu trưng bày văn hóa phẩm của đồng bào dân tộc hoặc mặc thử những bộ trang phục của người Hmong, người Dao, Tày …</span></p>
                                    <div id="attachment_405" style="width: 710px" class="wp-caption alignnone"><img aria-describedby="caption-attachment-405" loading="lazy" class="tour Hà Nội Ninh Bình Hạ Long Sapa wp-image-405 size-full" title="tour Hà Nội Ninh Bình Hạ Long Sapa" src="https://tourre.vn/wp-content/uploads/2020/10/nui-ham-rong-sapa.jpg" alt="Góc ngắm cảnh thị trấn Sapa từ trên núi Hàm Rồng" width="700" height="417" srcset="https://tourre.vn/wp-content/uploads/2020/10/nui-ham-rong-sapa.jpg 700w, https://tourre.vn/wp-content/uploads/2020/10/nui-ham-rong-sapa-300x179.jpg 300w" sizes="(max-width: 700px) 100vw, 700px"><p id="caption-attachment-405" class="wp-caption-text"><span style="font-size: 10pt;"><em>Góc ngắm cảnh thị trấn Sapa từ trên núi Hàm Rồng</em></span></p></div>
                                    <p><span style="font-size: 10pt;"><strong>Cáp treo Fansipan: &nbsp;</strong>Đỉnh Fansipan được coi là nóc nhà Đông Dương ở độ cao 3.143m. Trước đây đỉnh Fanxipan chỉ dành cho dân du lịch ưa mạo hiểm bởi bạn cần ít nhất 2 ngày để leo tới đỉnh. Đoạn đường leo núi cũng rât hiểm trở băng rừng lội suối. Tuy nhiên tháng 2 ngăm 2016 tuyến cáp treo Fansipan đã chính thức được đưa vào hoạt động và bất kỳ ai cũng có thể chinh phục đỉnh Fansipan một cách dễ dàng.</span></p>
                                    <p><span style="font-size: 10pt;">Xe và hướng dẫn viên sẽ đưa quý khách đến ga cáp treo để bắt đầu chuyến hành trình. Quý khách cũng có thể tham khảo thêm lựa chọn đi lên ga cáp treo bằng tàu hỏa leo núi. Thời gian tàu di chuyển khoảng 4 phút đi qua 2 hầm và 4 cầu cạn. Ngồi trên tàu hỏa bạn có thể ngắm nhìn vẻ đẹp tuyệt vời của thung lũng Mường Hoa bên dưới.</span></p>
                                    <div id="attachment_398" style="width: 710px" class="wp-caption alignnone"><img aria-describedby="caption-attachment-398" loading="lazy" class="tour Hà Nội Ninh Bình Hạ Long Sapa wp-image-398 size-full" title="tour Hà Nội Ninh Bình Hạ Long Sapa" src="https://tourre.vn/wp-content/uploads/2020/10/fanxipan-sapa.jpg" alt="" width="700" height="519" srcset="https://tourre.vn/wp-content/uploads/2020/10/fanxipan-sapa.jpg 700w, https://tourre.vn/wp-content/uploads/2020/10/fanxipan-sapa-300x222.jpg 300w" sizes="(max-width: 700px) 100vw, 700px"><p id="caption-attachment-398" class="wp-caption-text"><span style="font-size: 10pt;"><em>Đỉnh Fansipan – Nóc nhà Đông Dương</em></span></p></div>
                                    <p><span style="font-size: 10pt;">Tuyến cáp treo đưa bạn lên đỉnh 3000m trong 15 phút. Đây là thời gian quý khách có thể ngắm toàn cảnh Sapa từ trên cao, bên dưới là rừng nguyên sinh Hoàng Liên và thung lũng Mường Hoa, càng lên cao thì sự hùng vĩ của núi Hoàng Liên càng trở nên rõ ràng hơn.</span></p>
                                    <p><span style="font-size: 10pt;">Tuyến cáp treo đưa bạn lên đỉnh 3000m trong 15 phút. Đây là thời gian quý khách có thể ngắm toàn cảnh Sapa từ trên cao, bên dưới là rừng nguyên sinh Hoàng Liên và thung lũng Mường Hoa, càng lên cao thì sự hùng vĩ của núi Hoàng Liên càng trở nên rõ ràng hơn.</span></p>
                                    <p><span style="font-size: 10pt;">Cáp treo dừng cũng là lúc quý khách bắt đầu đi bộ lên đỉnh Fansipan. 600 bậc thang với độ dốc vừa phải chỉ tốn khoảng 20 – 30 phút là quý khách đã có thể chạm tay vào cột mốc của đỉnh Fansipan, ghi dấu một hành trình đáng nhớ trong đời.</span></p>
                                    <p><span style="font-size: 10pt;">Thời gian đẹp nhất để khám phá đỉnh Fansipan là tháng 10 và tháng 11. Theo kinh nghiệm thì du khách nên đi cáp treo vào buổi sáng để có nhiều cơ hội săn mây trên đỉnh hơn.</span></p>
                                    <p><span style="font-size: 10pt;">Ngoài đỉnh Fansipan, trên đường đi bạn cũng được tham quan các cảnh đẹp khác nằm trong khu Fansipan Legend như Vườn tre, Bảo An Thiền Tự, Bích Vân Thiền Tự, nhà hàng, khu mua sắm, và đặc biệt là những vườn hoa khổng lồ, rực rỡ bốn mùa như đồi hoa oải hương tím, thác hoa cải trắng, vườn hoa hướng dương, thung lũng hoa hồng, hoa đỗ quyên đỏ thắm …</span></p>
                                    <p><span style="font-size: 10pt;">Sau bữa trưa quý khách lên xe giường năm cao cấp về Hà Nội. Xe trả quý khách tại sân bay Nội Bài để làm thủ tục lên chuyến bay. Kết thúc hành trình thăm quan Hà Nội Ninh Bình Hạ Long Sapa đáng nhớ.</span></p>
                                    <p><span style="font-size: 10pt;">Đặc biệt đội ngũ nhân viên của Tourre.vn có trách nhiệm tư vấn giúp đỡ quý khách trong mọi trường hợp để mang lại cho quý khách những chuyến thăm quan vui vẻ và dễ chịu nhất. Hotline của Tourre.vn hoạt động 24/7 tất cả các ngày trong tuần.</span></p>
                                    <p><span style="font-size: 10pt;">Combo cơ bản bao gồm các dịch vụ cơ bản trong chương trình. Quý khách có thể tham khảo các dịch vụ nâng hạng sau đây:</span></p>
                                    <ul>
                                        <li><span style="font-size: 10pt;"><em>Nâng hạng phòng trong khách sạn</em></span></li>
                                        <li><span style="font-size: 10pt;"><em>Nâng hạng khách sạn lên 4 sao hoặc 5 sao</em></span></li>
                                        <li><span style="font-size: 10pt;"><em>Nâng hạng dịch vụ xe lên hạng Limousine, giường đôi valentine</em></span></li>
                                    </ul>
                                    <p><span style="font-size: 10pt;"><strong>LIÊN HỆ NHÂN VIÊN TOURRE.VN ĐỂ ĐƯỢC HỖ TRỢ TỐT NHẤT:</strong></span></p>
                                    <ul>
                                        <li><span style="font-size: 10pt;">Địa Chỉ: Số 24 Nguyễn Siêu, Q. Hoàn Kiếm, TP. Hà Nội</span></li>
                                        <li><span style="font-size: 10pt;">Điện thoại: 0974 624 983</span></li>
                                        <li><span style="font-size: 10pt;">Website: <a href="https://tourre.vn/">https://tourre.vn/</a></span></li>
                                        <li><span style="font-size: 10pt;">Email:&nbsp;<a href="mailto:bookingtourre@gmail.com">bookingtourre@gmail.com</a></span></li>
                                        <li><span style="font-size: 10pt;">Facebook:&nbsp;<a href="https://www.facebook.com/tourrevn" target="_blank" rel="noopener">https://www.facebook.com/tourrevn</a></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane content-p" id="home5">
                                <div class="title-dg">Đánh giá</div>
                                <div class="box-nx-tour">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="h4">
                                                <i class="fa fa-circle"></i>  Điểm chi tiết
                                            </div>
                                            <div class="content-bang-nx">
                                                <p>
                                                    Địa điểm
                                                </p>
                                                <div class="so-diem-dg">
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                </div>
                                            </div>
                                            <div class="content-bang-nx">
                                                <p>
                                                    Thoải mái
                                                </p>
                                                <div class="so-diem-dg">
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                </div>
                                            </div>
                                            <div class="content-bang-nx">
                                                <p>
                                                    Dịch vụ
                                                </p>
                                                <div class="so-diem-dg">
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                </div>
                                            </div>
                                            <div class="content-bang-nx">
                                                <p>
                                                    Nhân viên
                                                </p>
                                                <div class="so-diem-dg">
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                </div>
                                            </div>
                                            <div class="content-bang-nx">
                                                <p>
                                                    Sạch sẽ
                                                </p>
                                                <div class="so-diem-dg">
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa fa-circle"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="h4">
                                                <i class="fa fa-braille"></i> Mức đánh giá
                                            </div>
                                            <div class="content-bang-diem">
                                                <p>
                                                    Tuyệt vời
                                                </p>
                                                <p>
                                                    .................
                                                </p>
                                                <p>8</p>
                                            </div>
                                            <div class="content-bang-diem">
                                                <p>
                                                    Rất tốt
                                                </p>
                                                <p>
                                                    ......................
                                                </p>
                                                <p>2</p>
                                            </div>
                                            <div class="content-bang-diem">
                                                <p>
                                                    Trung bình
                                                </p>
                                                <p>
                                                    ......................
                                                </p>
                                                <p style="color: red;">1</p>
                                            </div>
                                            <div class="content-bang-diem">
                                                <p>
                                                    Kém
                                                </p>
                                                <p>
                                                    ......................
                                                </p>
                                                <p style="color: red;">0</p>
                                            </div>
                                            <div class="content-bang-diem">
                                                <p>
                                                    Rất tệ
                                                </p>
                                                <p>
                                                    ......................
                                                </p>
                                                <p style="color: red;">0</p>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="h4">
                                                <i class="fa fa-users"></i> Khách hàng
                                            </div>
                                            <div class="content-bang-diem content-khach">
                                                <p>
                                                    Gia đình
                                                </p>
                                                <p>
                                                    .................
                                                </p>
                                                <p style="color: red;">5</p>
                                            </div>
                                            <div class="content-bang-diem content-khach">
                                                <p>
                                                    Cặp đôi
                                                </p>
                                                <p>
                                                    ......................
                                                </p>
                                                <p style="color: red;">2</p>
                                            </div>
                                            <div class="content-bang-diem content-khach">
                                                <p>
                                                    Khách lẻ
                                                </p>
                                                <p>
                                                    ......................
                                                </p>
                                                <p style="color: red;">3</p>
                                            </div>
                                            <div class="content-bang-diem content-khach">
                                                <p>
                                                    Doanh nghiệp
                                                </p>
                                                <p>
                                                    ......................
                                                </p>
                                                <p style="color: red;">1</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content hotel-detail-desc padding-top-0">

                                    <div id="respond" class="comment-respond">
                                        <h3 id="reply-title" class="comment-reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/combo/tour-ha-noi-ninh-binh-ha-long-sapa-gia-re/#respond" style="display:none;">( Hủy )</a></small></h3><form action="Booking/Index" method="post" id="commentform" class="comment-form">
                                            <div class="form-group"><label for="comment">Bình luận</label><span>*</span><textarea id="comment" class="form-control" name="comment" rows="3" aria-required="true"></textarea></div><div class="form-group">
                                                <label for="author">Họ và tên</label> <input id="author" name="author" class="form-control" type="text" size="30">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label> <input type="email" id="email" name="email" class="form-control" size="30">
                                            </div>
                                            <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes"> <label for="wp-comment-cookies-consent">Lưu tên của tôi, email, và trang web trong trình duyệt này cho lần bình luận kế tiếp của tôi.</label></p>
                                            <p class="form-submit">
                                                <input name="submit" type="submit" id="submit" class="btn btn-primary" value="Gửi bình luận"> <input type="hidden" name="comment_post_ID" value="2688" id="comment_post_ID">
                                                <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                            </p><p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="39aba3d656"></p><textarea name="ak_hp_textarea" cols="45" rows="8" maxlength="100" style="display: none !important;"></textarea><input type="hidden" id="ak_js" name="ak_js" value="1617845852480">
                                        </form>
                                    </div><!-- #respond -->

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane content-p" id="home3">
                                <div class="h3">Nhận xét</div>
                                <div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; width: 0px; height: 0px;"><div></div></div></div>
                                <script async="" defer="" crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&amp;version=v8.0&amp;appId=738911803632782&amp;autoLogAppEvents=1" nonce="sPLOdxeO"></script>
                                <div class="fb-comments fb_iframe_widget fb_iframe_widget_fluid_desktop" data-href="https://tourre.vn/combo/tour-ha-noi-ninh-binh-ha-long-sapa-gia-re/" data-numposts="5" data-width="100%" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=738911803632782&amp;container_width=0&amp;height=100&amp;href=https%3A%2F%2Ftourre.vn%2Fcombo%2Ftour-ha-noi-ninh-binh-ha-long-sapa-gia-re%2F&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;version=v8.0&amp;width=" style="width: 100%;"><span style="vertical-align: bottom; width: 100%; height: 0px;"><iframe name="f1c510834ac214" width="1000px" height="100px" data-testid="fb:comments Facebook Social Plugin" title="fb:comments Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v8.0/plugins/comments.php?app_id=738911803632782&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df36c0825e1d548%26domain%3Dtourre.vn%26origin%3Dhttps%253A%252F%252Ftourre.vn%252Ff30c799c4ce9f2%26relation%3Dparent.parent&amp;container_width=0&amp;height=100&amp;href=https%3A%2F%2Ftourre.vn%2Fcombo%2Ftour-ha-noi-ninh-binh-ha-long-sapa-gia-re%2F&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;version=v8.0&amp;width=" style="border: none; visibility: visible; width: 100%; height: 0px;" class=""></iframe></span></div>
                            </div>
                            <!-- <input class="checkbox" id="1" type="checkbox" data-price="10">one<br />
                            <input class="checkbox" id="2" type="checkbox" data-price="5">two<br />
                            <input class="checkbox" id="3" type="checkbox" data-price="2.7">three<br /> -->
                            <br>
                            <br>
                        </div>
                    </div>
                    <button type="button" class="btn btn-info btn-lg btn btn-orange btn-lg btn-block" data-toggle="modal" data-target="#myModal">Đặt tour</button>
                </div>
            </div>
            <div class="col-md-3 col-md-right">
                <div class="sideba-right sticky" style="position: absolute; top: auto; width: 100%;">
                    <div class="info">
                        <span class="icon-core-value icon-core-value-quality"></span>
                        <div class="route route-p">
                            <span class="fa fa-calendar"> </span>
                            Khởi hành từ
                            <b>Xuất phát:</b> @Model.Lichtrinh
                        </div>
                        <div class="border-item margin-bottom-15 margin-top-15"></div>
                        <div class="title-h4">
                            <b class="combo-b">							</b>
                        </div>
                        <ul class="list-unstyled">
                            <li class="margin-bottom-10"><i class="fa fa-check"></i>  Xe riêng đón sân bay</li>
                            <li class="margin-bottom-10"><i class="fa fa-check"></i>  Khách sạn tiêu chuẩn, vị trí trung tâm, chất lượng dịch vụ tốt nhất</li>
                            <li class="margin-bottom-10"><i class="fa fa-check"></i>  Tư vấn hỗ trợ 24/7</li>
                        </ul>
                        <div class="border-item margin-bottom-15 margin-top-15"></div>
                        <div class="des-button">
                            <div class="text-center price margin-bottom-15 margin-top-20">
                                <div class="price-origin"></div>
                                <div>
                                    <span class="text-price price-from"><span>@Model.Gia đ</span></span>
                                    <span>/ khách</span>
                                </div>
                            </div>
                            <div class="uu-dai-dacbiet">
                                <span><i class="fa fa-tag"></i>Ưu đãi đặc biệt</span>
                                <div class="uu-dai-p">
                                    <div class="title-h3">Ưu đãi mới</div>
                                    <p>Giảm 10% cho nhóm từ 5 khách  </p>
                                </div>
                            </div>
                            <button type="button" class="btn btn-info btn-lg btn btn-orange btn-lg btn-block" data-toggle="modal" data-target="#myModal">Đặt tour</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog" style="display: none;">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <div class="h4 modal-title">Liên hệ đặt tour</div>
                </div>
                <div class="modal-body">
                    <div class="inner contact">
                        <!-- Form Area -->
                        <div class="contact-form">
                            <div role="form" class="wpcf7" id="wpcf7-f983-o1" lang="vi" dir="ltr">
                                <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                                <form action="Booking" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                                    <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="983">
                                        <input type="hidden" name="_wpcf7_version" value="5.4">
                                        <input type="hidden" name="_wpcf7_locale" value="vi">
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f983-o1">
                                        <input type="hidden" name="_wpcf7_container_post" value="0">
                                        <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                                    </div>
                                    <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                                        <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form" aria-required="true" aria-invalid="false" placeholder="Họ và tên"></span><br>
                                        <span class="wpcf7-form-control-wrap tentour"><input type="text" name="tentour" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form" aria-required="true" aria-invalid="false" placeholder="Tên tour"></span><br>
                                        <span class="wpcf7-form-control-wrap dienthoai"><input type="text" name="dienthoai" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form" aria-required="true" aria-invalid="false" placeholder="Điện thoại"></span><br>
                                        <span class="wpcf7-form-control-wrap diachi"><input type="text" name="diachi" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form" aria-required="true" aria-invalid="false" placeholder="Địa chỉ"></span><br>
                                        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form" aria-required="true" aria-invalid="false" placeholder="Địa chỉ mail"></span>
                                    </div>
                                    <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                                        <p style="margin-top: -30px;">Ngày khởi hành</p>
                                        <p>
                                            <span class="wpcf7-form-control-wrap khoihanh"><input type="date" name="khoihanh" value="" class="wpcf7-form-control wpcf7-date wpcf7-validates-as-date form" aria-invalid="false" placeholder="Ngày khởi hành"></span><br>
                                            <span class="wpcf7-form-control-wrap songuoi"><input type="number" name="songuoi" value="" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-number form" aria-invalid="false" placeholder="Số người"></span><br>
                                            <span class="wpcf7-form-control-wrap ghichu"><textarea name="ghichu" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea form textarea" aria-invalid="false" placeholder="Ghi chú (trẻ em, tình trạng sức khỏe,...)"></textarea></span>
                                        </p>
                                    </div>
                                    <div class="relative fullwidth col-xs-12">
                                        <button type="submit" id="submit" name="submit" class="form-btn semibold">Đặt tour</button>
                                    </div>
                                    <div class="wpcf7-response-output" aria-hidden="true"></div>
                                </form>
                            </div>
                            <!-- 							      <form id="contact-us" method="post" action="#">
                               <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                                  <input type="text" name="name" id="name" required="required" class="form" placeholder="Họ và tên" />
                                  <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Tên tour (hoặc mã tour)" />
                                  <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Số điện thoại" />
                                  <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Địa chỉ" />
                                  <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" />
                               </div>
                               <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                                  <p style="margin-top: -30px;">Ngày khởi hành</p>
                                   <input type="date" name="subject" id="subject" required="required" class="form" placeholder="Ngày khởi hành" />
                                  <input type="number" name="subject" id="subject" required="required" class="form" placeholder="Số người" />

                                  <textarea name="message" id="message" class="form textarea"  placeholder="Ghi chú (trẻ em, tình trạng sức khỏe,...)"></textarea>

                               </div>
                               <div class="relative fullwidth col-xs-12">
                                  <button type="submit" id="submit" name="submit" class="form-btn semibold">Đặt tour</button>
                               </div>

                               <div class="clear"></div>
                            </form> -->
                            <!-- Your Mail Message -->
                            <div class="mail-message-area">
                                <!-- Message -->
                                <div class="alert gray-bg mail-message not-visible-message">
                                    <strong>Thank You !</strong> Your email has been delivered.
                                </div>
                            </div>
                        </div>
                        <!-- End Contact Form Area -->
                    </div>
                    <!-- End Inner -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="tour-read-last">
    <div class="container">
        <div class="row">
            <div class="title-lq">Tour du lịch tương tự</div>

            @foreach (var i in ViewBag.listTour)
            {
                <div class="col-md-4 space-row">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="Details?Id=@i.Idtour">
                                <img class="full-size" src="~/images/@i.Image">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="box-news">
                                <div class="title-h2">
                                    <a href="Details?Id=@i.Idtour">
                                        <span>@i.Tentuor</span>
                                    </a>
                                </div>
                                @if (i.Danhgia != 0)
                                {
                                    @for (var k = 1; k <= i.Danhgia; k++)
                                    {
                                        <i class="fa fa-star"></i>
                                    }
                                }
                                <h4><span>3.900.000</span> <b>@i.Gia Vnđ</b></h4>

                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>