
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Page.cshtml";
}
@using TTTN_Travel.Models;
@using System.Linq;
@* khai bao de su dung phan trang *@
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc;
@* khai bao kieu du lieu cua model *@
@model X.PagedList.IPagedList<Tour>
@using System.IO;
@using X.PagedList;
@using X.PagedList.Mvc.Common;

<div class="row">
    @foreach (var i in ViewBag.ListTour)
    {
        <div class="col-md-4">

            <div class="box-dv-tour-page deatil-cate">
                <a href="/Tours/Details?Id=@i.Idtour"><img src="~/images/@i.Image "></a>
                @*<div class="hot-sale">
                    <div class="triangle-left"></div>
                    <div class="vuong">	<p><i class="fa fa-flash"></i>Khuyến mãi</p></div>
                    <div class="triangle-right"></div>

                </div>*@
                <div class="box-conten-tour">

                    <div class="title-tour-combo">
                        <a href="/Tours/Details?Id=@i.Idtour"> @i.Tentuor</a>
                        <p>
                            @if (i.Danhgia != 0)
                            {
                                @for (var k = 1; k <= i.Danhgia; k++)
                                {
                                    <i class="fa fa-star"></i>
                                }
                            }
                        </p>
                    </div>
                    <div class="icon-content">
                        <p><i class="fa fa-map-marker"></i> @i.Lichtrinh </p>
                        <p>
                            <i class="	fa fa-pencil-square-o"></i>

                            @i.Ngaybd.
                        </p>
                    </div>
                    <div class="uu-dai-2">
                        <p>
                            <a href="#">Liên hệ ngay</a>
                            <a class="icon-contact" href="#"><i class="glyphicon glyphicon-phone"></i></a>
                            <a class="icon-contact" href="#"><i class="fa fa-facebook-official"></i></a>
                            <a class="icon-contact" href="#"><i class="glyphicon glyphicon-qrcode"></i></a>
                        </p>
                    </div>
                    <div class="page-price-tour">
                        <b>@i.Gia đ</b>/khách
                    </div>
                </div>
            </div>

        </div>
    }
</div>
<div>
    @Html.PagedListPager((IPagedList)ViewBag.ListTour, page => Url.Action("Index", "Tours", new { page = page }))
</div>
<script type="text/javascript">
        @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
        {
            <text>
            $(document).ready(function() {
                alert('@ViewData.ModelState["Error"].Errors.First().ErrorMessage');
            });
            </text>
        }
</script>